name: Publish to pub.dev

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - uses: dart-lang/setup-dart@v1

      - run: flutter pub get

      - name: Dry-run publish
        run: dart pub publish --dry-run

      - name: Publish
        run: dart pub publish -f
